<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/output.css">
    <title>Créer une Annonce</title>
</head>
<body class="bg-gray-100">

    <%- // include("../components/header.ejs") -%>

    <div class="container mx-auto mt-10">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h1 class="mb-4 text-2xl font-bold">Créer une Annonce</h1>
            <form action="/create-ad" method="POST" enctype="multipart/form-data">
                <div class="flex mb-4">
                    <label for="imgFile" class="mr-2">Déposer les images (5) :</label>
                    <div class="relative">
                        <label for="fileInput" class="px-4 py-2 text-white bg-blue-500 rounded-md cursor-pointer">
                            Choisir un fichier
                        </label>
                        <input type="file" id="fileInput" name="imgFile" class="hidden" accept="image/*">
                    </div>
                </div>

                <label for="objectName" class="block mb-2">Titre :</label>
                <input type="text" id="objectName" name="objectName" class="w-full p-2 mb-4 border rounded-md" required>

                <label for="price" class="block mb-2">Prix :</label>
                <input type="number" id="price" name="price" class="w-full p-2 mb-4 border rounded-md" required>

                <label for="state" class="block mb-2">État :</label>
                <select id="state" name="state" class="w-full p-2 mb-4 border rounded-md" required>
                    <option value="Très bon">Très bon</option>
                    <option value="Bon">Bon</option>
                    <option value="Moyen">Moyen</option>
                    <option value="Passable">Passable</option>
                </select>

                <label for="description" class="block mb-2">Description (facultative) :</label>
                <textarea id="description" name="description" class="w-full p-2 mb-4 border rounded-md resize-none"></textarea>

                <div class="flex justify-between">
                    <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded-md">Créer l'annonce</button>
                    <button type="button" class="px-4 py-2 ml-auto text-gray-500 bg-gray-200 rounded-md">Annuler</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
