<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/output.css" rel="stylesheet">
    <title>Détail du Produit</title>
</head>

<body class="p-8 bg-gray-100">

    <div class="flex flex-col max-w-screen-lg mx-auto overflow-hidden bg-white rounded-md shadow-md md:flex-row">
        <!-- Grande image à gauche -->
        <img src="/public/images/allemand_bd.jpeg" alt="Product Image" class="object-cover h-full max-w-full md:w-1/2">

        <!-- Détails du produit à droite -->
        <div class="w-full p-8 space-y-10 md:w-1/2">
            <h1 class="mb-10 text-4xl font-bold">L'allemand en bd</h1>
            <p class="mb-10 text-3xl font-bold">Prix : 20€</p>
            <p class="mb-10 text-lg text-gray-700">Vendeur: Olaf Müller</p>
            <p class="mb-10 text-lg text-gray-700">État : Neuf</p>

            <!-- Bouton d'ajout au panier par exemple -->
            <button class="px-6 py-3 text-lg text-white bg-blue-500 rounded-md hover:bg-blue-800">Je suis intéressé</button>
        </div>
    </div>

</body>

</html>
